body{
    background-color: #212121;
    font-family: Arial, sans-serif;
    color: azure;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #0d614f;
    border-radius: 8px;
}
.Heading {
    text-align: center;
    color: #f0f0f0;
    font-size: 25px;
}
.attempt-container{

    margin-top: 20px;
    
}
.attemptsList {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
li {
    list-style: none;
    margin: 5px 0;
}