.button{
    width: 100px; height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
   
}
.button:hover {
    transform: scale(1.1);
}
.button:active {
    transform: scale(0.9);
}

#red{
    background-color: red;
    
}

#white{
    background-color: white;
}

#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#orange{
    background-color: orange;
}
#purple{
    background-color: purple;
}
