body{
    font-family: Arial, sans-serif;
    background-color: #212121;
    margin: 0;
    padding: 20px;
    color:beige;
}
h1 {
    text-align: center;
    color: #f0f0f0;
}
.container {

    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

#height,
#weight {
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; 
    
}

#bmiForm{
    padding-left: 170px;
}