body{
    background-color: #3e2d2d;
    color: bisque;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(161, 65, 65, 0.7);
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
}

#clock {
    text-align: center;
    font-size: 40px;
    background-color: rgba(135, 180, 63, 0.5);
    padding: 20px ;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 80%;
    color: aliceblue;
}